body {background-color: purple;}
h1{outline-style: dotted; outline-color: white;}
ul {background-color: pink}
p {padding-left: 25px}
img{border-radius: 50%;}
img{border:3px ridge navy;}
img{margin-left: 135px}